<script src="code.js"></script>
<html>
    <head>
        <link href="/static/formatting.css" ref="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <a href="/">HOME</a>
                <a href="/createuser">CREATE</a>
                <a href="/loginuser">LOGIN</a>
                <a href="/update">UPDATE</a>
                <a href="/view_all">VIEW ALL</a>
                <a href="/logout">LOGOUT</a>
            </ul>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>