{% extends "main.html" %}
{% block body %}
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Character Name</th>
            <th>Character Race</th>
            <th>Class</th>
            <th>Strength</th>
            <th>Dexterity</th>
            <th>Intelligence</th>
            <th>Constitution</th>
            <th>Wisdom</th>
            <th>Charisma</th>
        </tr>
        {% for s in user %}
        <tr>
            <td>{{s.username}}</td>
            <td>{{s.password}}</td>
            <td>{{s.charName}}</td>
            <td>{{s.charRace}}</td>
            <td>{{s.charClass}}</td>
            <td>{{s.strength}}</td>
            <td>{{s.dexterity}}</td>
            <td>{{s.intelligence}}</td>
            <td>{{s.constitution}}</td>
            <td>{{s.wisdom}}</td>
            <td>{{s.charisma}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}